<style>
.draft-box-main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction : column;
}

.main-textarea {
    width: 95%;
    height: 12em;
    margin-bottom: 1em;
}
.subtitle {
    font-size: 15pt;
}
</style>
<div class="draft-box-main">
    <p class="subtitle">Type your beautiful, beautiful words here.</p>
    <p class="subtitle">document: {{ guid }}</p>
    <textarea 
        [(ngModel)]="bufferText"
        #mainEditor
        (ngModelChange)="handleTextChange($event)"
        name="theDraftText" 
        class="main-textarea form-control"
    ></textarea>
    <p class="position-descriptor"><span class="commit-position">{{ commitPositionText }}</span>, <span class="changes-descriptor">{{ changesDescriptorText }}</span></p>
    <div>
        <p class="btn-group" role="group">
            <button type="button" 
                class="btn btn-primary back-button" 
                [disabled]="!canGoBack"
                (click) = "goBackOne()"
            >
                back
            </button>
            <button type="button" 
                class="btn btn-success commit" 
                (click) = "commit()"
                [disabled]="!isBufferContainsUncommittedChanges"
            >
                commit
            </button>
            
            <button type="button" 
            class="btn btn-primary forward-button" 
            [disabled]="!existsNextCommit"
            (click) = "goForwardOne()"
            >forward</button>
        </p>
    </div>
    
    <div>
        <p class="btn-group" role="group">
            <button type="button" 
            class="btn btn-warning reset-last-commit"
            [disabled]="!canResetToLastCommit"
            (click) = "resetToLatestCommit()"
            >reset to last commit
        </button>

        <button type="button"
            [disabled]="!isClearAllAllowed"
            class="btn btn-danger"
            (click) = "clearAll()"
        >clear all</button>
        </p>

    </div>
</div>
